@import "bootstrap/scss/bootstrap.scss";

/* circlecut width adjusting by screen width */

.circlecuts>.circlecut {
    width: 50%;
    /* border: 1px solid red; */
}

.circlecuts>.circlecut.space-2sp {
    width: 100%;
}

@media screen and (min-width: 576px) {
    .circlecuts>.circlecut {
        width: 33.3%;
        border-color: blue;
    }

    .circlecuts>.circlecut.space-2sp {
        width: 66.6%;
    }
}

@media screen and (min-width: 768px) {
    .circlecuts>.circlecut {
        width: 25%;
        border-color: cyan;
    }

    .circlecuts>.circlecut.space-2sp {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .circlecuts>.circlecut {
        width: 20%;
        border-color: yellow;
    }

    .circlecuts>.circlecut.space-2sp {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .circlecuts>.circlecut {
        width: 16.65%;
        border-color: green;
    }

    .circlecuts>.circlecut.space-2sp {
        width: 33.3%;
    }
}

@media screen and (min-width: 1400px) {
    .circlecuts>.circlecut {
        width: 12.5%;
        border-color: blueviolet;
    }

    .circlecuts>.circlecut.space-2sp {
        width: 25%;
    }
}

/* normal styles */

.circlecuts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.circlecuts img {
    width: 100%;
}

.circlecuts>h2 {
    width: 100%;
    margin: 0;
    padding: 1vw 0;
    text-align: center;
    background-color: #cff;
}

.circlecut-lazy {
    height: 80px;
    text-align: center;
    font-size: 300%;
    color: #ccc;
}

.circlecut {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.circleCut-space {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 1.2em;
    font-size: 13px;
    background-color: #111;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleCut-detail {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    display: block;
    height: auto;
    flex-grow: 1;
    padding: 10px 0 20px;
}

.circleCut-name {
    width: auto;
    flex-grow: 1;
    padding: 0 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3em;
}